code/node-red/flows.json
[
    {
        "id": "14e56c35a5953b22",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "04b4f13d99be7319",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "113ae86234f6470e",
        "type": "ui_group",
        "name": "002",
        "tab": "dc25fe35.866f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5eddd2f4205781cc",
        "type": "tls-config",
        "name": "",
        "cert": "/etc/mosquitto/ca_certificates/ca.crt",
        "key": "/etc/mosquitto/ca_certificates/ca.key",
        "ca": "/etc/mosquitto/certs/server.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "f21c4075976f759e",
        "type": "mqtt-broker",
        "name": "smartfarm   broker",
        "broker": "smartfarm.eazycloud.xyz",
        "port": "1883",
        "tls": "5eddd2f4205781cc",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a7b4c9de057d0404",
        "type": "ui_group",
        "name": "001",
        "tab": "dc25fe35.866f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0c6cfed2216abd6c",
        "type": "ui_group",
        "name": "003",
        "tab": "dc25fe35.866f",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aeb89f3138321369",
        "type": "ui_group",
        "name": "004",
        "tab": "dc25fe35.866f",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6ac281cd65617581",
        "type": "ui_group",
        "name": "A1",
        "tab": "8946174e9da34385",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7ef41a06553de8c3",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "fb1bb5ab.f1c4c8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "eu.thethings.network",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "2",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d489f79eb32ac949",
        "type": "linetoken",
        "name": ""
    },
    {
        "id": "b59e207189ceee8f",
        "type": "ui_group",
        "name": "A2",
        "tab": "8946174e9da34385",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "056971eaeb83ff99",
        "type": "ui_group",
        "name": "A3",
        "tab": "8946174e9da34385",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6969e20e87727ae4",
        "type": "ui_group",
        "name": "A4",
        "tab": "8946174e9da34385",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8946174e9da34385",
        "type": "ui_tab",
        "name": "Smartfarm Dashboard",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dc25fe35.866f",
        "type": "ui_tab",
        "name": "Agent Simulation",
        "icon": "dashboard",
        "order": 17,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a0f0f1786925ec5c",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "humi",
        "label": "Humidity",
        "tooltip": "",
        "group": "a7b4c9de057d0404",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 630,
        "y": 160,
        "wires": [
            [
                "a8937c5d4ba2beaa"
            ]
        ]
    },
    {
        "id": "26467b7c4dd57b7a",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "temp",
        "label": "Temperature",
        "tooltip": "",
        "group": "a7b4c9de057d0404",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 630,
        "y": 200,
        "wires": [
            [
                "1748622aa205d519"
            ]
        ]
    },
    {
        "id": "a8937c5d4ba2beaa",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data1.humi",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 160,
        "wires": [
            [
                "cb370b9794771705"
            ]
        ]
    },
    {
        "id": "1748622aa205d519",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data1.temp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 200,
        "wires": [
            [
                "cb370b9794771705"
            ]
        ]
    },
    {
        "id": "6ab334a1fe02b0d3",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data1.id",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 100,
        "wires": [
            [
                "cb370b9794771705"
            ]
        ]
    },
    {
        "id": "cb370b9794771705",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "data1",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 500,
        "wires": [
            [
                "b8bbbc41.f272"
            ]
        ]
    },
    {
        "id": "5d819752697b08ec",
        "type": "inject",
        "z": "14e56c35a5953b22",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"001\",\"humi\":30,\"temp\":24,\"mois\":1130,\"ligh\":32767,\"ch1\":\"off\",\"ch2\":\"off\",\"ch3\":\"off\",\"ch4\":\"off\"}",
        "payloadType": "json",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "e66d80bdb76e3603",
                "2903e170e86b181a",
                "27f8ab4303c7d41b",
                "aed978975523a71e",
                "768d42ba458b1e2e",
                "ef84c3f1e027adbf",
                "8f98a9639e4d2619",
                "e7ac85df4eb86dc1",
                "836ac67277a2564f",
                "fc0184d945e0ce21"
            ]
        ]
    },
    {
        "id": "e66d80bdb76e3603",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "2903e170e86b181a",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 160,
        "wires": [
            [
                "a0f0f1786925ec5c"
            ]
        ]
    },
    {
        "id": "27f8ab4303c7d41b",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 200,
        "wires": [
            [
                "26467b7c4dd57b7a"
            ]
        ]
    },
    {
        "id": "aed978975523a71e",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 100,
        "wires": [
            [
                "6ab334a1fe02b0d3"
            ]
        ]
    },
    {
        "id": "a56d03c9e0e129d2",
        "type": "mqtt out",
        "z": "14e56c35a5953b22",
        "name": "",
        "topic": "smartfarm/status",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f21c4075976f759e",
        "x": 1610,
        "y": 420,
        "wires": []
    },
    {
        "id": "09ba23ac799e6d42",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 6,
        "group": "a7b4c9de057d0404",
        "width": 0,
        "height": 0,
        "label": "CH1",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH1",
        "x": 590,
        "y": 360,
        "wires": []
    },
    {
        "id": "8a333f32a4d53d2e",
        "type": "mqtt in",
        "z": "14e56c35a5953b22",
        "name": "",
        "topic": "smartfarm/control",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "f21c4075976f759e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 300,
        "wires": [
            [
                "0fb66f7ad2669a43",
                "fc0184d945e0ce21",
                "e7ac85df4eb86dc1",
                "ef84c3f1e027adbf",
                "768d42ba458b1e2e",
                "095c18802a794ad1",
                "a63ec47257b5cb91",
                "1b202bec6a2bbf1b",
                "6b7e7c5555a84a4d"
            ]
        ]
    },
    {
        "id": "4af862d90bb13bca",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 7,
        "group": "a7b4c9de057d0404",
        "width": 0,
        "height": 0,
        "label": "CH2",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH2",
        "x": 590,
        "y": 400,
        "wires": []
    },
    {
        "id": "768d42ba458b1e2e",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch1",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"001\") {\n    if (q.ch1 == \"on\") {\n        led = 1 \n        msg.payload = led\n        return msg;}\n    if (q.ch1 == \"off\") { \n        led = 0\n        msg.payload = led\n        return msg;\n         }\n\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 340,
        "wires": [
            [
                "09ba23ac799e6d42",
                "86651b9c3bc8daa7",
                "9febb77b1442378a"
            ]
        ]
    },
    {
        "id": "07e96e6b16e31d0c",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 8,
        "group": "a7b4c9de057d0404",
        "width": 0,
        "height": 0,
        "label": "CH3",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH3",
        "x": 590,
        "y": 440,
        "wires": []
    },
    {
        "id": "99d47115d5abc8bf",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 9,
        "group": "a7b4c9de057d0404",
        "width": 0,
        "height": 0,
        "label": "CH4",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH4",
        "x": 590,
        "y": 480,
        "wires": []
    },
    {
        "id": "ef84c3f1e027adbf",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch2",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"001\") {\n    if (q.ch2 == \"on\") { led = true\n        msg.payload = led\n        return msg; }\n    if (q.ch2 == \"off\") { led = false\n        msg.payload = led\n        return msg; }\n\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 380,
        "wires": [
            [
                "4af862d90bb13bca",
                "d162c0d505d7bf91"
            ]
        ]
    },
    {
        "id": "e7ac85df4eb86dc1",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch3",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"001\") {\n    if (q.ch3 == \"on\") { \n        led = true \n        msg.payload = led\n        return msg;}\n    if (q.ch3 == \"off\") { \n        led = false\n        msg.payload = led\n        return msg; }\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 420,
        "wires": [
            [
                "07e96e6b16e31d0c",
                "0998ccb1b69e6810"
            ]
        ]
    },
    {
        "id": "fc0184d945e0ce21",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch4",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"001\") {\n    if (q.ch4 == \"on\") { \n        led = true\n        msg.payload = led\n        return msg; }\n    if (q.ch4 == \"off\") { \n        led = false\n        msg.payload = led\n        return msg; }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 460,
        "wires": [
            [
                "99d47115d5abc8bf",
                "9d947dfc62f772c2"
            ]
        ]
    },
    {
        "id": "8f98a9639e4d2619",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.mois",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 240,
        "wires": [
            [
                "d31acfed3d96d3c8"
            ]
        ]
    },
    {
        "id": "d31acfed3d96d3c8",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "mois",
        "label": "Soil Moisture",
        "tooltip": "",
        "group": "a7b4c9de057d0404",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "4096",
        "step": 1,
        "className": "",
        "x": 630,
        "y": 240,
        "wires": [
            [
                "b962d5726af6d686"
            ]
        ]
    },
    {
        "id": "b962d5726af6d686",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data1.mois",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 240,
        "wires": [
            [
                "cb370b9794771705"
            ]
        ]
    },
    {
        "id": "836ac67277a2564f",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ligh",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 280,
        "wires": [
            [
                "1b3072c7c81c232c"
            ]
        ]
    },
    {
        "id": "1b3072c7c81c232c",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "ligh",
        "label": "Ambient Light",
        "tooltip": "",
        "group": "a7b4c9de057d0404",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "65535",
        "step": 1,
        "className": "",
        "x": 630,
        "y": 280,
        "wires": [
            [
                "86e347b6848f3414"
            ]
        ]
    },
    {
        "id": "86e347b6848f3414",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data1.ligh",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 280,
        "wires": [
            [
                "cb370b9794771705"
            ]
        ]
    },
    {
        "id": "cd884a2fc8560563",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "humi",
        "label": "Humidity",
        "tooltip": "",
        "group": "113ae86234f6470e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 650,
        "y": 640,
        "wires": [
            [
                "7c3966f2babfada0"
            ]
        ]
    },
    {
        "id": "f9a5ac452ec55c9e",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "temp",
        "label": "Temperature",
        "tooltip": "",
        "group": "113ae86234f6470e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 650,
        "y": 680,
        "wires": [
            [
                "3a8922589f4eca1a"
            ]
        ]
    },
    {
        "id": "7c3966f2babfada0",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data2.humi",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 640,
        "wires": [
            [
                "d856004d92a5ea17"
            ]
        ]
    },
    {
        "id": "3a8922589f4eca1a",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data2.temp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 680,
        "wires": [
            [
                "d856004d92a5ea17"
            ]
        ]
    },
    {
        "id": "f16612df1ca168b2",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data2.id",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 600,
        "wires": [
            [
                "d856004d92a5ea17"
            ]
        ]
    },
    {
        "id": "d856004d92a5ea17",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "data2",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 1000,
        "wires": [
            [
                "56b8a85fb3a76534"
            ]
        ]
    },
    {
        "id": "72fc00add374a768",
        "type": "inject",
        "z": "14e56c35a5953b22",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"002\",\"humi\":30,\"temp\":24,\"mois\":1130,\"ligh\":32768,\"ch1\":\"off\",\"ch2\":\"off\",\"ch3\":\"off\",\"ch4\":\"off\"}",
        "payloadType": "json",
        "x": 90,
        "y": 560,
        "wires": [
            [
                "adc583baaa287a3d",
                "2420714781b8f957",
                "e82d9620c590f3eb",
                "f672c2a577741437",
                "432085ccd39ec486",
                "dd064acff5c71fc8",
                "aebe053fe83ace67",
                "dcab9ba2e69ea903",
                "4e3f209ed1fd48fa",
                "2ad6c61f7813489e"
            ]
        ]
    },
    {
        "id": "adc583baaa287a3d",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "2420714781b8f957",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 640,
        "wires": [
            [
                "cd884a2fc8560563"
            ]
        ]
    },
    {
        "id": "e82d9620c590f3eb",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 680,
        "wires": [
            [
                "f9a5ac452ec55c9e"
            ]
        ]
    },
    {
        "id": "f672c2a577741437",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 600,
        "wires": [
            [
                "f16612df1ca168b2"
            ]
        ]
    },
    {
        "id": "f903ba89b232bbee",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 5,
        "group": "113ae86234f6470e",
        "width": 0,
        "height": 0,
        "label": "CH1",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH1",
        "x": 590,
        "y": 860,
        "wires": []
    },
    {
        "id": "0fbb008089be3f04",
        "type": "mqtt in",
        "z": "14e56c35a5953b22",
        "name": "",
        "topic": "smartfarm/control",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "f21c4075976f759e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 880,
        "wires": [
            [
                "432085ccd39ec486",
                "dd064acff5c71fc8",
                "aebe053fe83ace67",
                "2ad6c61f7813489e",
                "273fe15d2ef0a717",
                "33ce643235367e99",
                "f2678cd6357a66d6",
                "8b7968de1eef5240",
                "66eb61506ad0dbe7"
            ]
        ]
    },
    {
        "id": "2ffefcecde853728",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 6,
        "group": "113ae86234f6470e",
        "width": 0,
        "height": 0,
        "label": "CH2",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH2",
        "x": 590,
        "y": 900,
        "wires": []
    },
    {
        "id": "432085ccd39ec486",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch1",
        "func": "var q=msg.payload\nvar led\nif (q.id==\"002\") {\nif (q.ch1==\"on\") \n    {led=true\n    msg.payload = led\n    return msg;}\nif (q.ch1==\"off\") {\n    led = false\n    msg.payload = led\n    return msg;}\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 840,
        "wires": [
            [
                "f903ba89b232bbee",
                "03ea7b952a1cab42"
            ]
        ]
    },
    {
        "id": "6fc60534041fd256",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 7,
        "group": "113ae86234f6470e",
        "width": 0,
        "height": 0,
        "label": "CH3",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH3",
        "x": 590,
        "y": 940,
        "wires": []
    },
    {
        "id": "0a3a346c55b182ad",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 8,
        "group": "113ae86234f6470e",
        "width": 0,
        "height": 0,
        "label": "CH4",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH4",
        "x": 590,
        "y": 980,
        "wires": []
    },
    {
        "id": "dd064acff5c71fc8",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch2",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"002\") {\n    if (q.ch2 == \"on\") { \n        led = true\n        msg.payload = led\n        return msg; }\n    if (q.ch2 == \"off\") { \n        led = false\n        msg.payload = led\n        return msg; }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 880,
        "wires": [
            [
                "2ffefcecde853728",
                "1453708e0a870545"
            ]
        ]
    },
    {
        "id": "aebe053fe83ace67",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch3",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"002\") {\n    if (q.ch3 == \"on\") {\n        led = true \n        msg.payload = led\n        return msg;}\n    if (q.ch3 == \"off\") { \n        led = false\n        msg.payload = led\n        return msg;}\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 920,
        "wires": [
            [
                "6fc60534041fd256",
                "9f568530bb2368ad"
            ]
        ]
    },
    {
        "id": "2ad6c61f7813489e",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch4",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"002\") {\n    if (q.ch4 == \"on\") {\n        led = true \n        msg.payload = led\n        return msg;}\n    if (q.ch4 == \"off\") {\n        led = false\n        msg.payload = led\n        return msg;\n     }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 960,
        "wires": [
            [
                "0a3a346c55b182ad",
                "50cac09c5c9092e1"
            ]
        ]
    },
    {
        "id": "dcab9ba2e69ea903",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.mois",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 720,
        "wires": [
            [
                "7be1703c2492547f"
            ]
        ]
    },
    {
        "id": "7be1703c2492547f",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "mois",
        "label": "Soil Moisture",
        "tooltip": "",
        "group": "113ae86234f6470e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "4096",
        "step": 1,
        "className": "",
        "x": 650,
        "y": 720,
        "wires": [
            [
                "92a32c63590feca4"
            ]
        ]
    },
    {
        "id": "92a32c63590feca4",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data2.mois",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 720,
        "wires": [
            [
                "d856004d92a5ea17"
            ]
        ]
    },
    {
        "id": "4e3f209ed1fd48fa",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ligh",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 760,
        "wires": [
            [
                "16fc7096775db004"
            ]
        ]
    },
    {
        "id": "16fc7096775db004",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "ligh",
        "label": "Ambient Light",
        "tooltip": "",
        "group": "113ae86234f6470e",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "65535",
        "step": 1,
        "className": "",
        "x": 650,
        "y": 760,
        "wires": [
            [
                "d3e87b6c44d9eddf"
            ]
        ]
    },
    {
        "id": "d3e87b6c44d9eddf",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data2.ligh",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 760,
        "wires": [
            [
                "d856004d92a5ea17"
            ]
        ]
    },
    {
        "id": "06abae7f62947d68",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "humi",
        "label": "Humidity",
        "tooltip": "",
        "group": "0c6cfed2216abd6c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 670,
        "y": 1180,
        "wires": [
            [
                "3b40b2058b7ab8d0"
            ]
        ]
    },
    {
        "id": "f341f59fd9b273cd",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "temp",
        "label": "Temperature",
        "tooltip": "",
        "group": "0c6cfed2216abd6c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 670,
        "y": 1220,
        "wires": [
            [
                "16f8223238fae97d"
            ]
        ]
    },
    {
        "id": "3b40b2058b7ab8d0",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data3.humi",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1180,
        "wires": [
            [
                "1323413c55c25bf4"
            ]
        ]
    },
    {
        "id": "16f8223238fae97d",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data3.temp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1220,
        "wires": [
            [
                "1323413c55c25bf4"
            ]
        ]
    },
    {
        "id": "ef9e645842e7f890",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data3.id",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 1120,
        "wires": [
            [
                "1323413c55c25bf4"
            ]
        ]
    },
    {
        "id": "1323413c55c25bf4",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "data3",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 1560,
        "wires": [
            [
                "52513927dec1a559"
            ]
        ]
    },
    {
        "id": "997fc06cd07079e1",
        "type": "inject",
        "z": "14e56c35a5953b22",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"003\",\"humi\":30,\"temp\":24,\"mois\":1130,\"ligh\":32767,\"ch1\":\"off\",\"ch2\":\"off\",\"ch3\":\"off\",\"ch4\":\"off\"}",
        "payloadType": "json",
        "x": 70,
        "y": 1080,
        "wires": [
            [
                "b31b8f93f645b94f",
                "d275deeffb981032",
                "24c153fa41299111",
                "1b4a7c32e81bbed0",
                "ba545d92d45db87c",
                "be300eb1dc6b33ea",
                "4cf5c4ee1b904e5d",
                "84f555e9f8f39ccf",
                "2c74195a6e6a401d",
                "c3210fc937ec6c04"
            ]
        ]
    },
    {
        "id": "b31b8f93f645b94f",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "d275deeffb981032",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1180,
        "wires": [
            [
                "06abae7f62947d68"
            ]
        ]
    },
    {
        "id": "24c153fa41299111",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1220,
        "wires": [
            [
                "f341f59fd9b273cd"
            ]
        ]
    },
    {
        "id": "1b4a7c32e81bbed0",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1120,
        "wires": [
            [
                "ef9e645842e7f890"
            ]
        ]
    },
    {
        "id": "814f823bcb707b39",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 5,
        "group": "0c6cfed2216abd6c",
        "width": 0,
        "height": 0,
        "label": "CH1",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH1",
        "x": 670,
        "y": 1400,
        "wires": []
    },
    {
        "id": "964e6562910a3a06",
        "type": "mqtt in",
        "z": "14e56c35a5953b22",
        "name": "",
        "topic": "smartfarm/control",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "f21c4075976f759e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 1380,
        "wires": [
            [
                "ba545d92d45db87c",
                "be300eb1dc6b33ea",
                "4cf5c4ee1b904e5d",
                "c3210fc937ec6c04",
                "4517365de23dc40e",
                "40ac7a0a06f76516",
                "e31d11362699fa1a",
                "73cac223b03096cf",
                "1a0c5b4806073af9"
            ]
        ]
    },
    {
        "id": "280615858fc1ae1c",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 6,
        "group": "0c6cfed2216abd6c",
        "width": 0,
        "height": 0,
        "label": "CH2",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH2",
        "x": 670,
        "y": 1440,
        "wires": []
    },
    {
        "id": "ba545d92d45db87c",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch1",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"003\") {\n    if (q.ch1 == \"on\") {\n        led = true\n        msg.payload = led\n        return msg;\n    }\n    if (q.ch1 == \"off\") {\n        led = false\n        msg.payload = led\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1380,
        "wires": [
            [
                "814f823bcb707b39",
                "6fed9a3c78d4ba1b"
            ]
        ]
    },
    {
        "id": "91726adc20bf757e",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 7,
        "group": "0c6cfed2216abd6c",
        "width": 0,
        "height": 0,
        "label": "CH3",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH3",
        "x": 670,
        "y": 1480,
        "wires": []
    },
    {
        "id": "61103846d3526099",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 8,
        "group": "0c6cfed2216abd6c",
        "width": 0,
        "height": 0,
        "label": "CH4",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH4",
        "x": 670,
        "y": 1520,
        "wires": []
    },
    {
        "id": "be300eb1dc6b33ea",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch2",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"003\") {\n    if (q.ch2 == \"on\") {\n        led = true\n        msg.payload = led\n        return msg;\n    }\n    if (q.ch2 == \"off\") {\n        led = false\n        msg.payload = led\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1420,
        "wires": [
            [
                "280615858fc1ae1c",
                "c2b25dd9724f96ce"
            ]
        ]
    },
    {
        "id": "4cf5c4ee1b904e5d",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch3",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"003\") {\n    if (q.ch3 == \"on\") {\n        led = true\n        msg.payload = led\n        return msg;\n    }\n    if (q.ch3 == \"off\") {\n        led = false\n        msg.payload = led\n        return msg;\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1460,
        "wires": [
            [
                "91726adc20bf757e",
                "591b6c41fa9a4157"
            ]
        ]
    },
    {
        "id": "c3210fc937ec6c04",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch4",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"003\") {\n    if (q.ch4 == \"on\") {\n        led = true\n        msg.payload = led\n        return msg;\n    }\n    if (q.ch4 == \"off\") {\n        led = false\n        msg.payload = led\n        return msg;\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1500,
        "wires": [
            [
                "61103846d3526099",
                "96e0b9412bea20a2"
            ]
        ]
    },
    {
        "id": "84f555e9f8f39ccf",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.mois",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1260,
        "wires": [
            [
                "3233ba375d02e090"
            ]
        ]
    },
    {
        "id": "3233ba375d02e090",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "mois",
        "label": "Soil Moisture",
        "tooltip": "",
        "group": "0c6cfed2216abd6c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "4096",
        "step": 1,
        "className": "",
        "x": 670,
        "y": 1260,
        "wires": [
            [
                "9325177d7e1ef2cd"
            ]
        ]
    },
    {
        "id": "9325177d7e1ef2cd",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data3.mois",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1260,
        "wires": [
            [
                "1323413c55c25bf4"
            ]
        ]
    },
    {
        "id": "2c74195a6e6a401d",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ligh",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1300,
        "wires": [
            [
                "bca7e64c3cfb8057"
            ]
        ]
    },
    {
        "id": "bca7e64c3cfb8057",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "ligh",
        "label": "Ambient Light",
        "tooltip": "",
        "group": "0c6cfed2216abd6c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "65535",
        "step": 1,
        "className": "",
        "x": 670,
        "y": 1300,
        "wires": [
            [
                "c043d764fcf8dc7e"
            ]
        ]
    },
    {
        "id": "c043d764fcf8dc7e",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data3.ligh",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1300,
        "wires": [
            [
                "1323413c55c25bf4"
            ]
        ]
    },
    {
        "id": "e924958b305acd81",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "humi",
        "label": "Humidity",
        "tooltip": "",
        "group": "aeb89f3138321369",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 1800,
        "wires": [
            [
                "e951e936f7cc2aa6"
            ]
        ]
    },
    {
        "id": "8c6883798510f87b",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "temp",
        "label": "Temperature",
        "tooltip": "",
        "group": "aeb89f3138321369",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 1840,
        "wires": [
            [
                "cf1c9f339441aec4"
            ]
        ]
    },
    {
        "id": "e951e936f7cc2aa6",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data4.humi",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1800,
        "wires": [
            [
                "b14d76361fce605b"
            ]
        ]
    },
    {
        "id": "cf1c9f339441aec4",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data4.temp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1840,
        "wires": [
            [
                "b14d76361fce605b"
            ]
        ]
    },
    {
        "id": "8874da7702e3004a",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data4.id",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 1740,
        "wires": [
            [
                "b14d76361fce605b"
            ]
        ]
    },
    {
        "id": "b14d76361fce605b",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "data4",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 2180,
        "wires": [
            [
                "c9bafab1fe06cfa5"
            ]
        ]
    },
    {
        "id": "e6d091fe303c6a9c",
        "type": "inject",
        "z": "14e56c35a5953b22",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"004\",\"humi\":30,\"temp\":24,\"mois\":30,\"ligh\":32767,\"ch1\":\"off\",\"ch2\":\"off\",\"ch3\":\"off\",\"ch4\":\"off\"}",
        "payloadType": "json",
        "x": 90,
        "y": 1700,
        "wires": [
            [
                "dfc33013c0df5b78",
                "b698b466ba3c6e3c",
                "60fa60d5853c0a93",
                "b5d2b4456e609faf",
                "bb8968bbedfebf1b",
                "d65bb023268c96b4",
                "1f94679887942f3a",
                "2c02777badf02483",
                "11f91c9297fd0436",
                "db85e822c73bddf0",
                "f74438ca63ed72a7",
                "1921ba39ecff3a32",
                "94c8dead978174cb",
                "fc6d66892caa9df9",
                "d2a15d0fa490d988"
            ]
        ]
    },
    {
        "id": "dfc33013c0df5b78",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "b698b466ba3c6e3c",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1800,
        "wires": [
            [
                "e924958b305acd81"
            ]
        ]
    },
    {
        "id": "60fa60d5853c0a93",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1840,
        "wires": [
            [
                "8c6883798510f87b"
            ]
        ]
    },
    {
        "id": "b5d2b4456e609faf",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1740,
        "wires": [
            [
                "8874da7702e3004a"
            ]
        ]
    },
    {
        "id": "127e362ef3c32dbc",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 5,
        "group": "aeb89f3138321369",
        "width": 0,
        "height": 0,
        "label": "CH1",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH1",
        "x": 670,
        "y": 2020,
        "wires": []
    },
    {
        "id": "289f23703c9fa16a",
        "type": "mqtt in",
        "z": "14e56c35a5953b22",
        "name": "",
        "topic": "smartfarm/control",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "f21c4075976f759e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 2000,
        "wires": [
            [
                "bb8968bbedfebf1b",
                "d65bb023268c96b4",
                "1f94679887942f3a",
                "db85e822c73bddf0",
                "d2a15d0fa490d988"
            ]
        ]
    },
    {
        "id": "6186fff42603df0f",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 6,
        "group": "aeb89f3138321369",
        "width": 0,
        "height": 0,
        "label": "CH2",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH2",
        "x": 670,
        "y": 2060,
        "wires": []
    },
    {
        "id": "bb8968bbedfebf1b",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch1",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"004\") {\n    if (q.ch1 == \"on\") {\n        led = true\n        msg.payload = led\n        return msg;\n    }\n    if (q.ch1 == \"off\") {\n        led = false\n        msg.payload = led\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 2000,
        "wires": [
            [
                "127e362ef3c32dbc",
                "e77c3bd707d03a47"
            ]
        ]
    },
    {
        "id": "a895e9df7d52ee26",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 7,
        "group": "aeb89f3138321369",
        "width": 0,
        "height": 0,
        "label": "CH3",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH3",
        "x": 670,
        "y": 2100,
        "wires": []
    },
    {
        "id": "dc4e0e554409835a",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 8,
        "group": "aeb89f3138321369",
        "width": 0,
        "height": 0,
        "label": "CH4",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH4",
        "x": 670,
        "y": 2140,
        "wires": []
    },
    {
        "id": "d65bb023268c96b4",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch2",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"004\") {\n    if (q.ch2 == \"on\") {\n        led = true\n        msg.payload = led\n        return msg;\n    }\n    if (q.ch2 == \"off\") {\n        led = false\n        msg.payload = led\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 2040,
        "wires": [
            [
                "6186fff42603df0f",
                "edb80b21bd0bc998"
            ]
        ]
    },
    {
        "id": "1f94679887942f3a",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch3",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"004\") {\n    if (q.ch3 == \"on\") {\n        led = true\n        msg.payload = led\n        return msg;\n    }\n    if (q.ch3 == \"off\") {\n        led = false\n        msg.payload = led\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 2080,
        "wires": [
            [
                "a895e9df7d52ee26",
                "6df18592ec0309f3"
            ]
        ]
    },
    {
        "id": "db85e822c73bddf0",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch4",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"004\") {\n    if (q.ch4 == \"on\") {\n        led = true\n        msg.payload = led\n        return msg;\n    }\n    if (q.ch4 == \"off\") {\n        led = false\n        msg.payload = led\n        return msg;\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 2120,
        "wires": [
            [
                "dc4e0e554409835a",
                "446eb4bf2ca8d789"
            ]
        ]
    },
    {
        "id": "2c02777badf02483",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.mois",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1880,
        "wires": [
            [
                "9f95f55ac8386a8d"
            ]
        ]
    },
    {
        "id": "9f95f55ac8386a8d",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "mois",
        "label": "Soil Moisture",
        "tooltip": "",
        "group": "aeb89f3138321369",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "4096",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 1880,
        "wires": [
            [
                "345ca29a29e888df"
            ]
        ]
    },
    {
        "id": "345ca29a29e888df",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data4.mois",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1880,
        "wires": [
            [
                "b14d76361fce605b"
            ]
        ]
    },
    {
        "id": "11f91c9297fd0436",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ligh",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1920,
        "wires": [
            [
                "82e0a958aa949163"
            ]
        ]
    },
    {
        "id": "82e0a958aa949163",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "ligh",
        "label": "Ambient Light",
        "tooltip": "",
        "group": "aeb89f3138321369",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "65535",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 1920,
        "wires": [
            [
                "3b329595e62263bd"
            ]
        ]
    },
    {
        "id": "3b329595e62263bd",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data4.ligh",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1920,
        "wires": [
            [
                "b14d76361fce605b"
            ]
        ]
    },
    {
        "id": "86651b9c3bc8daa7",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data1.ch1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 340,
        "wires": [
            [
                "cb370b9794771705"
            ]
        ]
    },
    {
        "id": "d162c0d505d7bf91",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data1.ch2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 380,
        "wires": [
            [
                "cb370b9794771705"
            ]
        ]
    },
    {
        "id": "0998ccb1b69e6810",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data1.ch3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 420,
        "wires": [
            [
                "cb370b9794771705"
            ]
        ]
    },
    {
        "id": "9d947dfc62f772c2",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data1.ch4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 460,
        "wires": [
            [
                "cb370b9794771705"
            ]
        ]
    },
    {
        "id": "0fb66f7ad2669a43",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "status",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"001\") {\n    if (q.status == \"get\") { \n        return msg; }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 500,
        "wires": [
            [
                "cb370b9794771705"
            ]
        ]
    },
    {
        "id": "273fe15d2ef0a717",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "status",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"002\") {\n    if (q.status == \"get\") { \n        return msg; }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1000,
        "wires": [
            [
                "d856004d92a5ea17"
            ]
        ]
    },
    {
        "id": "03ea7b952a1cab42",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data2.ch1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 840,
        "wires": [
            [
                "d856004d92a5ea17"
            ]
        ]
    },
    {
        "id": "1453708e0a870545",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data2.ch2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 880,
        "wires": [
            [
                "d856004d92a5ea17"
            ]
        ]
    },
    {
        "id": "9f568530bb2368ad",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data2.ch3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 920,
        "wires": [
            [
                "d856004d92a5ea17"
            ]
        ]
    },
    {
        "id": "50cac09c5c9092e1",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data2.ch4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 960,
        "wires": [
            [
                "d856004d92a5ea17"
            ]
        ]
    },
    {
        "id": "095c18802a794ad1",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "humi",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"001\" ) {\n    if (q.humi!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 160,
        "wires": [
            [
                "2903e170e86b181a"
            ]
        ]
    },
    {
        "id": "a63ec47257b5cb91",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "temp",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"001\" ) {\n    if (q.temp!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 200,
        "wires": [
            [
                "27f8ab4303c7d41b"
            ]
        ]
    },
    {
        "id": "1b202bec6a2bbf1b",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "mois",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"001\" ) {\n    if (q.mois!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 240,
        "wires": [
            [
                "8f98a9639e4d2619"
            ]
        ]
    },
    {
        "id": "6b7e7c5555a84a4d",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ligh",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"001\" ) {\n    if (q.ligh!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 280,
        "wires": [
            [
                "836ac67277a2564f"
            ]
        ]
    },
    {
        "id": "33ce643235367e99",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "humi",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"002\" ) {\n    if (q.humi!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 640,
        "wires": [
            [
                "2420714781b8f957"
            ]
        ]
    },
    {
        "id": "f2678cd6357a66d6",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "temp",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"002\" ) {\n    if (q.temp!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 680,
        "wires": [
            [
                "e82d9620c590f3eb"
            ]
        ]
    },
    {
        "id": "8b7968de1eef5240",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "mois",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"002\" ) {\n    if (q.mois!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 720,
        "wires": [
            [
                "dcab9ba2e69ea903"
            ]
        ]
    },
    {
        "id": "66eb61506ad0dbe7",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ligh",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"002\" ) {\n    if (q.ligh!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 760,
        "wires": [
            [
                "4e3f209ed1fd48fa"
            ]
        ]
    },
    {
        "id": "6fed9a3c78d4ba1b",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data3.ch1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1380,
        "wires": [
            [
                "1323413c55c25bf4"
            ]
        ]
    },
    {
        "id": "c2b25dd9724f96ce",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data3.ch2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1420,
        "wires": [
            [
                "1323413c55c25bf4"
            ]
        ]
    },
    {
        "id": "591b6c41fa9a4157",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data3.ch3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1460,
        "wires": [
            [
                "1323413c55c25bf4"
            ]
        ]
    },
    {
        "id": "96e0b9412bea20a2",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data3.ch4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1500,
        "wires": [
            [
                "1323413c55c25bf4"
            ]
        ]
    },
    {
        "id": "4517365de23dc40e",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "status",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"003\") {\n    if (q.status == \"get\") { \n        return msg; }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1560,
        "wires": [
            [
                "1323413c55c25bf4"
            ]
        ]
    },
    {
        "id": "40ac7a0a06f76516",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "humi",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"003\" ) {\n    if (q.humi!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1180,
        "wires": [
            [
                "d275deeffb981032"
            ]
        ]
    },
    {
        "id": "e31d11362699fa1a",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "temp",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"003\" ) {\n    if (q.temp!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1220,
        "wires": [
            [
                "24c153fa41299111"
            ]
        ]
    },
    {
        "id": "73cac223b03096cf",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "mois",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"003\" ) {\n    if (q.mois!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1260,
        "wires": [
            [
                "84f555e9f8f39ccf"
            ]
        ]
    },
    {
        "id": "1a0c5b4806073af9",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ligh",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"003\" ) {\n    if (q.ligh!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1300,
        "wires": [
            [
                "2c74195a6e6a401d"
            ]
        ]
    },
    {
        "id": "e77c3bd707d03a47",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data4.ch1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 2000,
        "wires": [
            [
                "b14d76361fce605b"
            ]
        ]
    },
    {
        "id": "edb80b21bd0bc998",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data4.ch2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 2040,
        "wires": [
            [
                "b14d76361fce605b"
            ]
        ]
    },
    {
        "id": "6df18592ec0309f3",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data4.ch3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 2080,
        "wires": [
            [
                "b14d76361fce605b"
            ]
        ]
    },
    {
        "id": "446eb4bf2ca8d789",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data4.ch4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 2120,
        "wires": [
            [
                "b14d76361fce605b"
            ]
        ]
    },
    {
        "id": "d2a15d0fa490d988",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "status",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"004\") {\n    if (q.status == \"get\") { \n        return msg; }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 2180,
        "wires": [
            [
                "b14d76361fce605b"
            ]
        ]
    },
    {
        "id": "f74438ca63ed72a7",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "humi",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"004\" ) {\n    if (q.humi!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1800,
        "wires": [
            [
                "b698b466ba3c6e3c"
            ]
        ]
    },
    {
        "id": "1921ba39ecff3a32",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "temp",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"004\" ) {\n    if (q.temp!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1840,
        "wires": [
            [
                "60fa60d5853c0a93"
            ]
        ]
    },
    {
        "id": "94c8dead978174cb",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "mois",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"004\" ) {\n    if (q.mois!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1880,
        "wires": [
            [
                "2c02777badf02483"
            ]
        ]
    },
    {
        "id": "fc6d66892caa9df9",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ligh",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"004\" ) {\n    if (q.ligh!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1920,
        "wires": [
            [
                "11f91c9297fd0436"
            ]
        ]
    },
    {
        "id": "4d38c14d7d0890f9",
        "type": "ui_switch",
        "z": "14e56c35a5953b22",
        "name": "",
        "label": "Enable Board Sim1",
        "tooltip": "",
        "group": "a7b4c9de057d0404",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1090,
        "y": 300,
        "wires": [
            [
                "e46083e4.1f17b"
            ]
        ]
    },
    {
        "id": "9febb77b1442378a",
        "type": "debug",
        "z": "14e56c35a5953b22",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 320,
        "wires": []
    },
    {
        "id": "b8bbbc41.f272",
        "type": "switch",
        "z": "14e56c35a5953b22",
        "name": "Context based routing",
        "property": "state1",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1280,
        "y": 500,
        "wires": [
            [
                "a56d03c9e0e129d2"
            ]
        ]
    },
    {
        "id": "e46083e4.1f17b",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "Set flow.state1",
        "rules": [
            {
                "t": "set",
                "p": "state1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "200383ebf0d87ca6",
        "type": "ui_switch",
        "z": "14e56c35a5953b22",
        "name": "",
        "label": "Enable Board Sim2",
        "tooltip": "",
        "group": "113ae86234f6470e",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1110,
        "y": 660,
        "wires": [
            [
                "7eff9dc3ddfb3a31"
            ]
        ]
    },
    {
        "id": "7eff9dc3ddfb3a31",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "Set flow.state2",
        "rules": [
            {
                "t": "set",
                "p": "state2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "56b8a85fb3a76534",
        "type": "switch",
        "z": "14e56c35a5953b22",
        "name": "Context based routing",
        "property": "state2",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1320,
        "y": 1000,
        "wires": [
            [
                "a56d03c9e0e129d2"
            ]
        ]
    },
    {
        "id": "5698de0e8a112c0d",
        "type": "ui_switch",
        "z": "14e56c35a5953b22",
        "name": "",
        "label": "Enable Board Sim3",
        "tooltip": "",
        "group": "0c6cfed2216abd6c",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1110,
        "y": 740,
        "wires": [
            [
                "dbe96709baeba08b"
            ]
        ]
    },
    {
        "id": "dbe96709baeba08b",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "Set flow.state3",
        "rules": [
            {
                "t": "set",
                "p": "state3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "e7830c653828e661",
        "type": "ui_switch",
        "z": "14e56c35a5953b22",
        "name": "",
        "label": "Enable Board Sim4",
        "tooltip": "",
        "group": "aeb89f3138321369",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1110,
        "y": 800,
        "wires": [
            [
                "c8dc7935cb945c54"
            ]
        ]
    },
    {
        "id": "c8dc7935cb945c54",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "Set flow.state4",
        "rules": [
            {
                "t": "set",
                "p": "state4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "52513927dec1a559",
        "type": "switch",
        "z": "14e56c35a5953b22",
        "name": "Context based routing",
        "property": "state3",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1300,
        "y": 1560,
        "wires": [
            [
                "a56d03c9e0e129d2"
            ]
        ]
    },
    {
        "id": "c9bafab1fe06cfa5",
        "type": "switch",
        "z": "14e56c35a5953b22",
        "name": "Context based routing",
        "property": "state4",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1320,
        "y": 2180,
        "wires": [
            [
                "a56d03c9e0e129d2"
            ]
        ]
    },
    {
        "id": "e588b258ec349fa3",
        "type": "ui_gauge",
        "z": "04b4f13d99be7319",
        "name": "",
        "group": "6ac281cd65617581",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#1be600",
            "#a43acb"
        ],
        "seg1": "30",
        "seg2": "80",
        "className": "",
        "x": 800,
        "y": 240,
        "wires": []
    },
    {
        "id": "e87857f237857dd3",
        "type": "mqtt in",
        "z": "04b4f13d99be7319",
        "name": "",
        "topic": "smartfarm/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f21c4075976f759e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 80,
        "wires": [
            [
                "c940ab651bd620fe"
            ]
        ]
    },
    {
        "id": "dfedfbabbc740ef0",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "humi",
        "func": "var q=msg.payload\n\n    msg.payload=q.humi\n    return msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 240,
        "wires": [
            [
                "e588b258ec349fa3"
            ]
        ]
    },
    {
        "id": "c940ab651bd620fe",
        "type": "json",
        "z": "04b4f13d99be7319",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "63efefbc7526cd1a"
            ]
        ]
    },
    {
        "id": "3c3dbdf7fa7ec17d",
        "type": "ui_gauge",
        "z": "04b4f13d99be7319",
        "name": "",
        "group": "6ac281cd65617581",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#1094f9",
            "#00e639",
            "#bd0505"
        ],
        "seg1": "16",
        "seg2": "40",
        "className": "",
        "x": 810,
        "y": 280,
        "wires": []
    },
    {
        "id": "58f44d6da59bdc5e",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "temp",
        "func": "var q=msg.payload\n\nmsg.payload=q.temp\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 280,
        "wires": [
            [
                "3c3dbdf7fa7ec17d"
            ]
        ]
    },
    {
        "id": "1d72c17a1f6a8716",
        "type": "ui_gauge",
        "z": "04b4f13d99be7319",
        "name": "",
        "group": "6ac281cd65617581",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Soil Moisture",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "4096",
        "colors": [
            "#b30000",
            "#3de600",
            "#ca3838"
        ],
        "seg1": "24",
        "seg2": "46",
        "className": "",
        "x": 810,
        "y": 360,
        "wires": []
    },
    {
        "id": "1f135ad885cbccb4",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "mois",
        "func": "var data=msg.payload\n\n    msg.payload=data.mois\n    return msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 360,
        "wires": [
            [
                "1d72c17a1f6a8716"
            ]
        ]
    },
    {
        "id": "3f620f70cc1db44e",
        "type": "ui_gauge",
        "z": "04b4f13d99be7319",
        "name": "",
        "group": "6ac281cd65617581",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Ambient Light",
        "label": "lux",
        "format": "{{value}}",
        "min": "1",
        "max": "65535",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 820,
        "y": 320,
        "wires": []
    },
    {
        "id": "5525bde933195a1c",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "ligh",
        "func": "var data=msg.payload\n\n    msg.payload=data.ligh\n    return msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 320,
        "wires": [
            [
                "3f620f70cc1db44e"
            ]
        ]
    },
    {
        "id": "704918a52a4bafd5",
        "type": "ui_led",
        "z": "04b4f13d99be7319",
        "order": 5,
        "group": "6ac281cd65617581",
        "width": 0,
        "height": 0,
        "label": "Pump",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led1",
        "x": 790,
        "y": 80,
        "wires": []
    },
    {
        "id": "a308fcf74b6b5ee8",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "Pump controller",
        "func": "var data=msg.payload\nvar mode=global.get('mode001')\n\n\nif(mode==true){\n\n   \n\nif (data.mois<=25) {\n    if (data.ch1==false || data.ch1==\"off\") {\n        msg.payload = {\"id\":\"001\",\"ch1\":\"on\",\"auto\":\"on\"} \n        return msg }\n    }\nif (data.mois>=45) {\n    if (data.ch1==true || data.ch1==\"on\") {\n        msg.payload = {\"id\": data.id, \"ch1\": \"off\", \"auto\": \"on\" } \n        return msg }\n \n    }\n\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 400,
        "wires": [
            [
                "0be28fb0cfc26f5c"
            ]
        ]
    },
    {
        "id": "0be28fb0cfc26f5c",
        "type": "mqtt out",
        "z": "04b4f13d99be7319",
        "name": "",
        "topic": "smartfarm/control",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f21c4075976f759e",
        "x": 1010,
        "y": 420,
        "wires": []
    },
    {
        "id": "3d1a805020f164aa",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "CH1 Indicator",
        "func": "var q = msg.payload\nvar led\n\n    if (q.ch1 !=null) {\n        if (q.ch1==\"1\") led=true\n        if (q.ch1 ==\"0\") led = false\n        msg.payload = led\n        return msg;\n    }\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 80,
        "wires": [
            [
                "704918a52a4bafd5"
            ]
        ]
    },
    {
        "id": "6ed5cf4b0f70fe63",
        "type": "ui_led",
        "z": "04b4f13d99be7319",
        "order": 6,
        "group": "6ac281cd65617581",
        "width": 0,
        "height": 0,
        "label": "Fan",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led2",
        "x": 790,
        "y": 120,
        "wires": []
    },
    {
        "id": "03abf7b751bb3ef0",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "CH2 Indicator",
        "func": "var q = msg.payload\nvar led\n\n    if (q.ch2 !=null) {\n        if (q.ch2 == \"1\") led = true\n        if (q.ch2 == \"0\") led = false\n        msg.payload = led\n        return msg;\n    }\n    \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 120,
        "wires": [
            [
                "6ed5cf4b0f70fe63"
            ]
        ]
    },
    {
        "id": "cab3fa71fa505554",
        "type": "ui_led",
        "z": "04b4f13d99be7319",
        "order": 7,
        "group": "6ac281cd65617581",
        "width": 0,
        "height": 0,
        "label": "CH3",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led3",
        "x": 790,
        "y": 160,
        "wires": []
    },
    {
        "id": "898ba7ce24bba030",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "CH3 Indicator",
        "func": "var q = msg.payload\nvar led\n\n    if (q.ch3 !=null) {\n        if (q.ch3 == \"1\") led = true\n        if (q.ch3 == \"0\") led = false\n        msg.payload = led\n        return msg;\n    }\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 160,
        "wires": [
            [
                "cab3fa71fa505554"
            ]
        ]
    },
    {
        "id": "68faf31ab25869b8",
        "type": "ui_led",
        "z": "04b4f13d99be7319",
        "order": 8,
        "group": "6ac281cd65617581",
        "width": 0,
        "height": 0,
        "label": "CH4",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led4",
        "x": 790,
        "y": 200,
        "wires": []
    },
    {
        "id": "ec99c180fa6e1317",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "CH4 Indicator",
        "func": "var q = msg.payload\nvar led\n\n    if (q.ch4!=null) {\n        if (q.ch4 == \"1\") led = true\n        if (q.ch4 == \"0\") led = false\n        msg.payload = led\n        return msg;\n    }\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 200,
        "wires": [
            [
                "68faf31ab25869b8"
            ]
        ]
    },
    {
        "id": "6fe41d6061d87b06",
        "type": "inject",
        "z": "04b4f13d99be7319",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"001\",\"mode\":true}",
        "payloadType": "json",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "32ec0f11227807d3"
            ]
        ]
    },
    {
        "id": "32ec0f11227807d3",
        "type": "ui_switch",
        "z": "04b4f13d99be7319",
        "name": "auto mode",
        "label": "Automate",
        "tooltip": "",
        "group": "6ac281cd65617581",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "a5671e9b1248ac36",
                "af743608b5f34902"
            ]
        ]
    },
    {
        "id": "a5671e9b1248ac36",
        "type": "change",
        "z": "04b4f13d99be7319",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mode001",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "8bb1b568da1b6da7",
        "type": "ui_gauge",
        "z": "04b4f13d99be7319",
        "name": "",
        "group": "b59e207189ceee8f",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 780,
        "y": 1060,
        "wires": []
    },
    {
        "id": "e58a7958807a87ff",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "humi",
        "func": "var q=msg.payload\nif (q.id == \"002\") {\n    msg.payload=q.humi\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1060,
        "wires": [
            [
                "8bb1b568da1b6da7"
            ]
        ]
    },
    {
        "id": "ff2da686ea52f75a",
        "type": "json",
        "z": "04b4f13d99be7319",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 190,
        "y": 940,
        "wires": [
            [
                "f8b2806793ca13c1"
            ]
        ]
    },
    {
        "id": "38b340699d6ffca0",
        "type": "ui_gauge",
        "z": "04b4f13d99be7319",
        "name": "",
        "group": "b59e207189ceee8f",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 790,
        "y": 1100,
        "wires": []
    },
    {
        "id": "8259388bf3ee442b",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "temp",
        "func": "var q=msg.payload\nif (q.id == \"002\") {\nmsg.payload=q.temp\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1100,
        "wires": [
            [
                "38b340699d6ffca0"
            ]
        ]
    },
    {
        "id": "ce635be44d9f3fe9",
        "type": "ui_gauge",
        "z": "04b4f13d99be7319",
        "name": "",
        "group": "b59e207189ceee8f",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Soil Moisture",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#00e62e",
            "#ca3838"
        ],
        "seg1": "24",
        "seg2": "46",
        "className": "",
        "x": 790,
        "y": 1180,
        "wires": []
    },
    {
        "id": "17eaa1c50bbd40fb",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "mois",
        "func": "var data=msg.payload\nif (data.id == \"002\") {\n    msg.payload=data.mois\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1180,
        "wires": [
            [
                "ce635be44d9f3fe9"
            ]
        ]
    },
    {
        "id": "e084f1f7a7b3c256",
        "type": "ui_gauge",
        "z": "04b4f13d99be7319",
        "name": "",
        "group": "b59e207189ceee8f",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Ambient Light",
        "label": "lux",
        "format": "{{value}}",
        "min": "1",
        "max": "65535",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 800,
        "y": 1140,
        "wires": []
    },
    {
        "id": "10a7952f1cf98a86",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "ligh",
        "func": "var data=msg.payload\nif (data.id == \"002\") {\n    msg.payload=data.ligh\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1140,
        "wires": [
            [
                "e084f1f7a7b3c256"
            ]
        ]
    },
    {
        "id": "a6fe1bf48e241745",
        "type": "ui_led",
        "z": "04b4f13d99be7319",
        "order": 5,
        "group": "b59e207189ceee8f",
        "width": 0,
        "height": 0,
        "label": "Pump",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 770,
        "y": 900,
        "wires": []
    },
    {
        "id": "99f02e3230cfa766",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "Pump controller",
        "func": "var data=msg.payload\nvar mode=global.get('mode002')\n\nif (data.id==\"002\"){\n    //msg.payload = {\"auto\": mode }\n    //return msg\nif(mode==true){\n\n   \n\nif (data.mois<=25) {\n    if (data.ch1==false || data.ch1==\"off\") {\n        msg.payload = {\"id\":\"002\",\"ch1\":\"on\",\"auto\":\"on\"} \n        return msg }\n    }\nif (data.mois>=45) {\n    if (data.ch1==true || data.ch1==\"on\") {\n        msg.payload = {\"id\": \"002\", \"ch1\": \"off\", \"auto\": \"on\" } \n        return msg }\n \n    }\n\n}\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1220,
        "wires": [
            [
                "05ff414da6fd1d0e",
                "5a05a4b8ba41875e"
            ]
        ]
    },
    {
        "id": "fab20c29aefffe5d",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "Pump Indicator",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"002\") {\n    if (q.ch1 !=null) {\n        led = q.ch1\n        msg.payload = led\n        return msg;\n    }\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 900,
        "wires": [
            [
                "a6fe1bf48e241745"
            ]
        ]
    },
    {
        "id": "0d74070baf7a25bd",
        "type": "ui_led",
        "z": "04b4f13d99be7319",
        "order": 6,
        "group": "b59e207189ceee8f",
        "width": 0,
        "height": 0,
        "label": "Fan",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 770,
        "y": 940,
        "wires": []
    },
    {
        "id": "4ce92be6e3b0f87e",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "CH2 Indicator",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"002\") {\n    if (q.ch2 !=null) {\n        led = q.ch2\n        msg.payload = led\n        return msg;\n    }\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 940,
        "wires": [
            [
                "0d74070baf7a25bd"
            ]
        ]
    },
    {
        "id": "d1f33934d0926428",
        "type": "ui_led",
        "z": "04b4f13d99be7319",
        "order": 7,
        "group": "b59e207189ceee8f",
        "width": 0,
        "height": 0,
        "label": "CH3",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 770,
        "y": 980,
        "wires": []
    },
    {
        "id": "60195fa791059085",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "CH3 Indicator",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"002\") {\n    if (q.ch3 !=null) {\n        led = q.ch3\n        msg.payload = led\n        return msg;\n    }\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 980,
        "wires": [
            [
                "d1f33934d0926428"
            ]
        ]
    },
    {
        "id": "c661b18997fc2f09",
        "type": "ui_led",
        "z": "04b4f13d99be7319",
        "order": 8,
        "group": "b59e207189ceee8f",
        "width": 0,
        "height": 0,
        "label": "CH4",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 770,
        "y": 1020,
        "wires": []
    },
    {
        "id": "1fc8bc0a9e2e646b",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "CH4 Indicator",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"002\") {\n    if (q.ch4!=null) {\n        led = q.ch4\n        msg.payload = led\n        return msg;\n    }\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1020,
        "wires": [
            [
                "c661b18997fc2f09"
            ]
        ]
    },
    {
        "id": "7b74663402c0c974",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "",
        "group": "b59e207189ceee8f",
        "order": 10,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Pump On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{ \"id\":\"002\",\"ch1\":\"on\"   }",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 580,
        "y": 1300,
        "wires": [
            [
                "5a05a4b8ba41875e"
            ]
        ]
    },
    {
        "id": "866db45b6292ab11",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "",
        "group": "b59e207189ceee8f",
        "order": 11,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Pump Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{ \"id\":\"002\",\"ch1\":\"off\"   }",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 580,
        "y": 1340,
        "wires": [
            [
                "5a05a4b8ba41875e"
            ]
        ]
    },
    {
        "id": "5d80b0ea07f6d214",
        "type": "inject",
        "z": "04b4f13d99be7319",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"002\",\"mode\":true}",
        "payloadType": "json",
        "x": 110,
        "y": 1160,
        "wires": [
            [
                "f7742e5315044a0c"
            ]
        ]
    },
    {
        "id": "264b756f432f2c3b",
        "type": "line-notify",
        "z": "04b4f13d99be7319",
        "d": true,
        "name": "",
        "message": " #2 ",
        "contentType": "message",
        "imageThumbnail": "",
        "imageUrl": "",
        "sticker": "default",
        "stickerPackageId": "1",
        "stickerId": "1",
        "silent": false,
        "creds": "d489f79eb32ac949",
        "x": 400,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "f7742e5315044a0c",
        "type": "ui_switch",
        "z": "04b4f13d99be7319",
        "name": "auto mode",
        "label": "Automate",
        "tooltip": "",
        "group": "b59e207189ceee8f",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 1260,
        "wires": [
            [
                "4fc775196be91cb1",
                "3c438660be560560"
            ]
        ]
    },
    {
        "id": "3c438660be560560",
        "type": "change",
        "z": "04b4f13d99be7319",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mode002",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "05ff414da6fd1d0e",
        "type": "debug",
        "z": "04b4f13d99be7319",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 1220,
        "wires": []
    },
    {
        "id": "1b290dfc10aaef6c",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "Fan controller",
        "func": "var data=msg.payload\nvar mode=global.get('mode001')\n\n\nif(mode==true){\n\n   \n\nif (data.temp<=25) {\n    if (data.ch2==true || data.ch2==\"on\") {\n        msg.payload = {\"id\":data.id,\"ch2\":\"off\"} \n        return msg }\n    }\nif (data.temp>=27) {\n    if (data.ch2==false || data.ch2==\"off\") {\n        msg.payload = {\"id\": data.id, \"ch2\": \"on\"} \n        return msg }\n \n    }\n\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 440,
        "wires": [
            [
                "0be28fb0cfc26f5c"
            ]
        ]
    },
    {
        "id": "4f2235fc006a89d7",
        "type": "ui_gauge",
        "z": "04b4f13d99be7319",
        "name": "",
        "group": "056971eaeb83ff99",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 840,
        "y": 1820,
        "wires": []
    },
    {
        "id": "247b152e874a89a8",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "humi",
        "func": "var q=msg.payload\nif (q.id == \"003\") {\n    msg.payload=q.humi\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1820,
        "wires": [
            [
                "4f2235fc006a89d7"
            ]
        ]
    },
    {
        "id": "50f648ad70dc45b0",
        "type": "json",
        "z": "04b4f13d99be7319",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 1660,
        "wires": [
            [
                "84997ab07b1cc72b"
            ]
        ]
    },
    {
        "id": "a82669e785de2276",
        "type": "ui_gauge",
        "z": "04b4f13d99be7319",
        "name": "",
        "group": "056971eaeb83ff99",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 850,
        "y": 1860,
        "wires": []
    },
    {
        "id": "747955cf73d48829",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "temp",
        "func": "var q=msg.payload\nif (q.id == \"003\") {\nmsg.payload=q.temp\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1860,
        "wires": [
            [
                "a82669e785de2276"
            ]
        ]
    },
    {
        "id": "4ef93ded7d21d2c5",
        "type": "ui_gauge",
        "z": "04b4f13d99be7319",
        "name": "",
        "group": "056971eaeb83ff99",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Soil Moisture",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#0fe600",
            "#ca3838"
        ],
        "seg1": "24",
        "seg2": "46",
        "className": "",
        "x": 850,
        "y": 1940,
        "wires": []
    },
    {
        "id": "aa28c1965ec7b8ce",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "mois",
        "func": "var data=msg.payload\nif (data.id == \"003\") {\n    msg.payload=data.mois\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1940,
        "wires": [
            [
                "4ef93ded7d21d2c5"
            ]
        ]
    },
    {
        "id": "a5f8d5c387f393b9",
        "type": "ui_gauge",
        "z": "04b4f13d99be7319",
        "name": "",
        "group": "056971eaeb83ff99",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Ambient Light",
        "label": "lux",
        "format": "{{value}}",
        "min": "1",
        "max": "65535",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 860,
        "y": 1900,
        "wires": []
    },
    {
        "id": "2899c2b8af4fcdeb",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "ligh",
        "func": "var data=msg.payload\nif (data.id == \"003\") {\n    msg.payload=data.ligh\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1900,
        "wires": [
            [
                "a5f8d5c387f393b9"
            ]
        ]
    },
    {
        "id": "4a8f8e5d8efc1b11",
        "type": "ui_led",
        "z": "04b4f13d99be7319",
        "order": 5,
        "group": "056971eaeb83ff99",
        "width": 0,
        "height": 0,
        "label": "Pump",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 830,
        "y": 1660,
        "wires": []
    },
    {
        "id": "882f1133c7df2f87",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "Pump controller",
        "func": "var data=msg.payload\nvar mode=global.get('mode003')\n\nif (data.id==\"003\"){\n    //msg.payload = {\"auto\": mode }\n    //return msg\nif(mode==true){\n\n   \n\nif (data.mois<=25) {\n    if (data.ch1==false || data.ch1==\"off\") {\n        msg.payload = {\"id\":\"003\",\"ch1\":\"on\"} \n        return msg }\n    }\nif (data.mois>=45) {\n    if (data.ch1==true || data.ch1==\"on\") {\n        msg.payload = {\"id\": \"003\", \"ch1\": \"off\"} \n        return msg }\n \n    }\n\n}\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1980,
        "wires": [
            [
                "aef5e3a4dd34bdec",
                "14c6c41f05281583"
            ]
        ]
    },
    {
        "id": "f2cd88db3f4e305a",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "Pump Indicator",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"003\") {\n    if (q.ch1 !=null) {\n        led = q.ch1\n        msg.payload = led\n        return msg;\n    }\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1660,
        "wires": [
            [
                "4a8f8e5d8efc1b11"
            ]
        ]
    },
    {
        "id": "ccae519825c375ab",
        "type": "ui_led",
        "z": "04b4f13d99be7319",
        "order": 6,
        "group": "056971eaeb83ff99",
        "width": 0,
        "height": 0,
        "label": "Fan",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 830,
        "y": 1700,
        "wires": []
    },
    {
        "id": "748306e4f58639bb",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "CH2 Indicator",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"003\") {\n    if (q.ch2 !=null) {\n        led = q.ch2\n        msg.payload = led\n        return msg;\n    }\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1700,
        "wires": [
            [
                "ccae519825c375ab"
            ]
        ]
    },
    {
        "id": "7a50f21e3fedb954",
        "type": "ui_led",
        "z": "04b4f13d99be7319",
        "order": 7,
        "group": "056971eaeb83ff99",
        "width": 0,
        "height": 0,
        "label": "CH3",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 830,
        "y": 1740,
        "wires": []
    },
    {
        "id": "33fc4442b11bae45",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "CH3 Indicator",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"003\") {\n    if (q.ch3 !=null) {\n        led = q.ch3\n        msg.payload = led\n        return msg;\n    }\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1740,
        "wires": [
            [
                "7a50f21e3fedb954"
            ]
        ]
    },
    {
        "id": "dc6fbd67604c7015",
        "type": "ui_led",
        "z": "04b4f13d99be7319",
        "order": 8,
        "group": "056971eaeb83ff99",
        "width": 0,
        "height": 0,
        "label": "CH4",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 830,
        "y": 1780,
        "wires": []
    },
    {
        "id": "bc36a14cf3abda51",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "CH4 Indicator",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"003\") {\n    if (q.ch4!=null) {\n        led = q.ch4\n        msg.payload = led\n        return msg;\n    }\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1780,
        "wires": [
            [
                "dc6fbd67604c7015"
            ]
        ]
    },
    {
        "id": "2ba8e0a973d80b0c",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "ch1 on",
        "group": "056971eaeb83ff99",
        "order": 10,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Pump On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{ \"id\":\"003\",\"ch1\":\"on\"   }",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 2060,
        "wires": [
            [
                "14c6c41f05281583"
            ]
        ]
    },
    {
        "id": "29d27f19f8324410",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "ch1 off",
        "group": "056971eaeb83ff99",
        "order": 11,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Pump Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{ \"id\":\"003\",\"ch1\":\"off\"   }",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 2100,
        "wires": [
            [
                "14c6c41f05281583"
            ]
        ]
    },
    {
        "id": "e2d825c61cdbb4ea",
        "type": "inject",
        "z": "04b4f13d99be7319",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"003\",\"mode\":true}",
        "payloadType": "json",
        "x": 150,
        "y": 1800,
        "wires": [
            [
                "1070c2edd2541b21"
            ]
        ]
    },
    {
        "id": "1070c2edd2541b21",
        "type": "ui_switch",
        "z": "04b4f13d99be7319",
        "name": "auto mode",
        "label": "Automate",
        "tooltip": "",
        "group": "056971eaeb83ff99",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 1920,
        "wires": [
            [
                "dc89d6d05d4be5b2",
                "6f5921e38819453a"
            ]
        ]
    },
    {
        "id": "6f5921e38819453a",
        "type": "change",
        "z": "04b4f13d99be7319",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mode003",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "aef5e3a4dd34bdec",
        "type": "debug",
        "z": "04b4f13d99be7319",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 1980,
        "wires": []
    },
    {
        "id": "ccddf95dea0fcb5a",
        "type": "ui_gauge",
        "z": "04b4f13d99be7319",
        "name": "",
        "group": "6969e20e87727ae4",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 780,
        "y": 2760,
        "wires": []
    },
    {
        "id": "e227f4b22898641b",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "humi",
        "func": "var q=msg.payload\nif (q.id == \"004\") {\n    msg.payload=q.humi\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 2760,
        "wires": [
            [
                "ccddf95dea0fcb5a"
            ]
        ]
    },
    {
        "id": "4a61da611d8aad0c",
        "type": "json",
        "z": "04b4f13d99be7319",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 250,
        "y": 2720,
        "wires": [
            [
                "663f73227d52be4a"
            ]
        ]
    },
    {
        "id": "2f1c4b3495e0de19",
        "type": "ui_gauge",
        "z": "04b4f13d99be7319",
        "name": "",
        "group": "6969e20e87727ae4",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 790,
        "y": 2800,
        "wires": []
    },
    {
        "id": "0e201fbda2912565",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "temp",
        "func": "var q=msg.payload\nif (q.id == \"004\") {\nmsg.payload=q.temp\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 2800,
        "wires": [
            [
                "2f1c4b3495e0de19"
            ]
        ]
    },
    {
        "id": "21a3ba994659b979",
        "type": "ui_gauge",
        "z": "04b4f13d99be7319",
        "name": "",
        "group": "6969e20e87727ae4",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Soil Moisture",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#5ce600",
            "#ca3838"
        ],
        "seg1": "24",
        "seg2": "46",
        "className": "",
        "x": 790,
        "y": 2880,
        "wires": []
    },
    {
        "id": "bb031c2070e88109",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "mois",
        "func": "var data=msg.payload\nif (data.id == \"004\") {\n    msg.payload=data.mois\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 2880,
        "wires": [
            [
                "21a3ba994659b979"
            ]
        ]
    },
    {
        "id": "3010fb65f72ac86d",
        "type": "ui_gauge",
        "z": "04b4f13d99be7319",
        "name": "",
        "group": "6969e20e87727ae4",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Ambient Light",
        "label": "lux",
        "format": "{{value}}",
        "min": "1",
        "max": "65535",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 800,
        "y": 2840,
        "wires": []
    },
    {
        "id": "38d9e4687a17b521",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "ligh",
        "func": "var data=msg.payload\nif (data.id == \"004\") {\n    msg.payload=data.ligh\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 2840,
        "wires": [
            [
                "3010fb65f72ac86d"
            ]
        ]
    },
    {
        "id": "fc0374a82c81f01f",
        "type": "ui_led",
        "z": "04b4f13d99be7319",
        "order": 5,
        "group": "6969e20e87727ae4",
        "width": 0,
        "height": 0,
        "label": "Pump",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 770,
        "y": 2600,
        "wires": []
    },
    {
        "id": "30da9a41a4640b30",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "Pump controller",
        "func": "var data=msg.payload\nvar mode=global.get('mode004')\n\nif (data.id==\"004\"){\n    //msg.payload = {\"auto\": mode }\n    //return msg\nif(mode==true){\n\n   \n\nif (data.mois<=25) {\n    if (data.ch1==false || data.ch1==\"off\") {\n        msg.payload = {\"id\":\"004\",\"ch1\":\"on\",\"auto\":\"on\"} \n        return msg }\n    }\nif (data.mois>=45) {\n    if (data.ch1==true || data.ch1==\"on\") {\n        msg.payload = {\"id\": \"004\", \"ch1\": \"off\", \"auto\": \"on\" } \n        return msg }\n \n    }\n\n}\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 2920,
        "wires": [
            [
                "90a57c8ab2094d40",
                "4adb4a9413d76951"
            ]
        ]
    },
    {
        "id": "ee5d1e718ab7b66f",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "Pump Indicator",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"004\") {\n    if (q.ch1 !=null) {\n        led = q.ch1\n        msg.payload = led\n        return msg;\n    }\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 2600,
        "wires": [
            [
                "fc0374a82c81f01f"
            ]
        ]
    },
    {
        "id": "bb6c97634388e0c1",
        "type": "ui_led",
        "z": "04b4f13d99be7319",
        "order": 6,
        "group": "6969e20e87727ae4",
        "width": 0,
        "height": 0,
        "label": "Fan",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 770,
        "y": 2640,
        "wires": []
    },
    {
        "id": "294484f5173d890f",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "CH2 Indicator",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"004\") {\n    if (q.ch2 !=null) {\n        led = q.ch2\n        msg.payload = led\n        return msg;\n    }\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 2640,
        "wires": [
            [
                "bb6c97634388e0c1"
            ]
        ]
    },
    {
        "id": "eef6ee6c24271b79",
        "type": "ui_led",
        "z": "04b4f13d99be7319",
        "order": 7,
        "group": "6969e20e87727ae4",
        "width": 0,
        "height": 0,
        "label": "CH3",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 770,
        "y": 2680,
        "wires": []
    },
    {
        "id": "f6ca32b2a926d7e2",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "CH3 Indicator",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"004\") {\n    if (q.ch3 !=null) {\n        led = q.ch3\n        msg.payload = led\n        return msg;\n    }\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 2680,
        "wires": [
            [
                "eef6ee6c24271b79"
            ]
        ]
    },
    {
        "id": "cf90d00a6e6e33b4",
        "type": "ui_led",
        "z": "04b4f13d99be7319",
        "order": 8,
        "group": "6969e20e87727ae4",
        "width": 0,
        "height": 0,
        "label": "CH4",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 770,
        "y": 2720,
        "wires": []
    },
    {
        "id": "b0b8d22fdff44891",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "CH4 Indicator",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"004\") {\n    if (q.ch4!=null) {\n        led = q.ch4\n        msg.payload = led\n        return msg;\n    }\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 2720,
        "wires": [
            [
                "cf90d00a6e6e33b4"
            ]
        ]
    },
    {
        "id": "c230a878b67ac044",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "ch1 on",
        "group": "6969e20e87727ae4",
        "order": 10,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Pump On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{ \"id\":\"004\",\"ch1\":\"on\"   }",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 3000,
        "wires": [
            [
                "4adb4a9413d76951"
            ]
        ]
    },
    {
        "id": "2e0e6488526787e5",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "ch1 off",
        "group": "6969e20e87727ae4",
        "order": 11,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Pump Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{ \"id\":\"004\",\"ch1\":\"off\"   }",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 3040,
        "wires": [
            [
                "4adb4a9413d76951"
            ]
        ]
    },
    {
        "id": "cc75e5439f226145",
        "type": "inject",
        "z": "04b4f13d99be7319",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"004\",\"mode\":true}",
        "payloadType": "json",
        "x": 90,
        "y": 2840,
        "wires": [
            [
                "1aeaac1205bf2763"
            ]
        ]
    },
    {
        "id": "1aeaac1205bf2763",
        "type": "ui_switch",
        "z": "04b4f13d99be7319",
        "name": "mode",
        "label": "Automate",
        "tooltip": "",
        "group": "6969e20e87727ae4",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 2920,
        "wires": [
            [
                "180aa674589badea",
                "66bddf6a04bf83e3"
            ]
        ]
    },
    {
        "id": "180aa674589badea",
        "type": "change",
        "z": "04b4f13d99be7319",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mode004",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 2900,
        "wires": [
            []
        ]
    },
    {
        "id": "90a57c8ab2094d40",
        "type": "debug",
        "z": "04b4f13d99be7319",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 2920,
        "wires": []
    },
    {
        "id": "f2b9a71c9153fde9",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "Fan controller",
        "func": "var data=msg.payload\nvar mode=global.get('mode002')\n\nif (data.id==\"002\"){\n    //msg.payload = {\"auto\": mode }\n    //return msg\nif(mode==true){\n\n   \n\nif (data.temp<=25) {\n    if (data.ch2==true || data.ch2==\"on\") {\n        msg.payload = {\"id\":\"002\",\"ch2\":\"off\"} \n        return msg }\n    }\nif (data.temp>=27) {\n    if (data.ch2==false || data.ch2==\"off\") {\n        msg.payload = {\"id\": \"002\", \"ch2\": \"on\"} \n        return msg }\n \n    }\n\n}\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1260,
        "wires": [
            [
                "5a05a4b8ba41875e"
            ]
        ]
    },
    {
        "id": "0cf3253eefa3fe7e",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "Fan controller",
        "func": "var data=msg.payload\nvar mode=global.get('mode003')\n\nif (data.id==\"003\"){\n    //msg.payload = {\"auto\": mode }\n    //return msg\nif(mode==true){\n\n   \n\nif (data.temp<=25) {\n    if (data.ch2==true || data.ch2==\"on\") {\n        msg.payload = {\"id\":\"003\",\"ch2\":\"off\"} \n        return msg }\n    }\nif (data.temp>=27) {\n    if (data.ch2==false || data.ch2==\"off\") {\n        msg.payload = {\"id\": \"003\", \"ch2\": \"on\"} \n        return msg }\n \n    }\n\n}\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 2020,
        "wires": [
            [
                "14c6c41f05281583"
            ]
        ]
    },
    {
        "id": "1722d49dd48dcb3a",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "Fan controller",
        "func": "var data=msg.payload\nvar mode=global.get('mode004')\n\nif (data.id==\"004\"){\n    //msg.payload = {\"auto\": mode }\n    //return msg\nif(mode==true){\n\n   \n\nif (data.temp<=25) {\n    if (data.ch2==true || data.ch2==\"on\") {\n        msg.payload = {\"id\":\"004\",\"ch2\":\"off\"} \n        return msg }\n    }\nif (data.temp>=27) {\n    if (data.ch2==false || data.ch2==\"off\") {\n        msg.payload = {\"id\": \"004\", \"ch2\": \"on\"} \n        return msg }\n \n    }\n\n}\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 2960,
        "wires": [
            [
                "4adb4a9413d76951"
            ]
        ]
    },
    {
        "id": "84997ab07b1cc72b",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "ID003",
        "func": "var payloaded=msg.payload\nif (payloaded.id==\"003\") {\n    msg.payload=payloaded\nreturn msg}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1740,
        "wires": [
            [
                "f2cd88db3f4e305a",
                "748306e4f58639bb",
                "33fc4442b11bae45",
                "bc36a14cf3abda51",
                "247b152e874a89a8",
                "747955cf73d48829",
                "2899c2b8af4fcdeb",
                "882f1133c7df2f87",
                "0cf3253eefa3fe7e",
                "aa28c1965ec7b8ce",
                "3fb870fcd35a34fa"
            ]
        ]
    },
    {
        "id": "63efefbc7526cd1a",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "ID001",
        "func": "var payloaded=msg.payload\n\nif (payloaded.id==\"001\") {\n    msg.payload=payloaded\nreturn msg}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 280,
        "wires": [
            [
                "3d1a805020f164aa",
                "03abf7b751bb3ef0",
                "898ba7ce24bba030",
                "ec99c180fa6e1317",
                "dfedfbabbc740ef0",
                "58f44d6da59bdc5e",
                "5525bde933195a1c",
                "1f135ad885cbccb4",
                "a308fcf74b6b5ee8",
                "1b290dfc10aaef6c",
                "7e0c27b512c5fc83"
            ]
        ]
    },
    {
        "id": "82e7749e0145f30c",
        "type": "line-notify",
        "z": "04b4f13d99be7319",
        "d": true,
        "name": "",
        "message": " #1 ",
        "contentType": "message",
        "imageThumbnail": "",
        "imageUrl": "",
        "sticker": "default",
        "stickerPackageId": "1",
        "stickerId": "1",
        "silent": false,
        "creds": "d489f79eb32ac949",
        "x": 360,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "ada5da7b6c203bcc",
        "type": "line-notify",
        "z": "04b4f13d99be7319",
        "d": true,
        "name": "",
        "message": " #3 ",
        "contentType": "message",
        "imageThumbnail": "",
        "imageUrl": "",
        "sticker": "default",
        "stickerPackageId": "1",
        "stickerId": "1",
        "silent": false,
        "creds": "d489f79eb32ac949",
        "x": 400,
        "y": 2000,
        "wires": [
            []
        ]
    },
    {
        "id": "35266b5cb6f4027f",
        "type": "line-notify",
        "z": "04b4f13d99be7319",
        "d": true,
        "name": "",
        "message": " #4 ",
        "contentType": "message",
        "imageThumbnail": "",
        "imageUrl": "",
        "sticker": "default",
        "stickerPackageId": "1",
        "stickerId": "1",
        "silent": false,
        "creds": "d489f79eb32ac949",
        "x": 400,
        "y": 3000,
        "wires": [
            []
        ]
    },
    {
        "id": "1ae383de4fd4e5b6",
        "type": "mqtt in",
        "z": "04b4f13d99be7319",
        "name": "",
        "topic": "smartfarm/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f21c4075976f759e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1000,
        "wires": [
            [
                "ff2da686ea52f75a"
            ]
        ]
    },
    {
        "id": "5a05a4b8ba41875e",
        "type": "mqtt out",
        "z": "04b4f13d99be7319",
        "name": "",
        "topic": "smartfarm/control",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f21c4075976f759e",
        "x": 850,
        "y": 1400,
        "wires": []
    },
    {
        "id": "1ec8db48395a46b9",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "ch1 on",
        "group": "6ac281cd65617581",
        "order": 10,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Pump On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"id\":\"001\",\"ch1\":\"on\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 500,
        "wires": [
            [
                "0be28fb0cfc26f5c"
            ]
        ]
    },
    {
        "id": "f3c3bfc62c97bf6b",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "ch1 off",
        "group": "6ac281cd65617581",
        "order": 11,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Pump Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"id\":\"001\",\"ch1\":\"off\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 540,
        "wires": [
            [
                "0be28fb0cfc26f5c"
            ]
        ]
    },
    {
        "id": "61446ae3245381f2",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "ch2 on",
        "group": "6ac281cd65617581",
        "order": 12,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Fan on",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"id\":\"001\",\"ch2\":\"on\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 580,
        "wires": [
            [
                "0be28fb0cfc26f5c"
            ]
        ]
    },
    {
        "id": "89cee718f0625f17",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "ch2 off",
        "group": "6ac281cd65617581",
        "order": 13,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Fan off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"id\":\"001\",\"ch2\":\"off\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 620,
        "wires": [
            [
                "0be28fb0cfc26f5c"
            ]
        ]
    },
    {
        "id": "b02bf1c26daef7ae",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "ch3 on",
        "group": "6ac281cd65617581",
        "order": 14,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "CH3 on",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"id\":\"001\",\"ch3\":\"on\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 660,
        "wires": [
            [
                "0be28fb0cfc26f5c"
            ]
        ]
    },
    {
        "id": "3336fd15f2ef2e7c",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "ch3 off",
        "group": "6ac281cd65617581",
        "order": 15,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "CH3 off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"id\":\"001\",\"ch3\":\"off\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 700,
        "wires": [
            [
                "0be28fb0cfc26f5c"
            ]
        ]
    },
    {
        "id": "7b54acf3d158c225",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "ch4 on",
        "group": "6ac281cd65617581",
        "order": 16,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "CH4 on",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"id\":\"001\",\"ch4\":\"on\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 740,
        "wires": [
            [
                "0be28fb0cfc26f5c"
            ]
        ]
    },
    {
        "id": "92d86387156b51d9",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "ch4 off",
        "group": "6ac281cd65617581",
        "order": 17,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "CH4 off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"id\":\"001\",\"ch4\":\"off\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 780,
        "wires": [
            [
                "0be28fb0cfc26f5c"
            ]
        ]
    },
    {
        "id": "952f2c64fd747d23",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "",
        "group": "b59e207189ceee8f",
        "order": 12,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Fan on",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{ \"id\":\"002\",\"ch2\":\"on\"   }",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 580,
        "y": 1380,
        "wires": [
            [
                "5a05a4b8ba41875e"
            ]
        ]
    },
    {
        "id": "8750e4e8860acf1c",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "",
        "group": "b59e207189ceee8f",
        "order": 13,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Fan off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{ \"id\":\"002\",\"ch2\":\"off\"   }",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 1420,
        "wires": [
            [
                "5a05a4b8ba41875e"
            ]
        ]
    },
    {
        "id": "95776a0501eb3ad2",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "",
        "group": "b59e207189ceee8f",
        "order": 14,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "CH3 On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{ \"id\":\"002\",\"ch3\":\"on\"   }",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 580,
        "y": 1460,
        "wires": [
            [
                "5a05a4b8ba41875e"
            ]
        ]
    },
    {
        "id": "6270d2dceb944512",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "",
        "group": "b59e207189ceee8f",
        "order": 15,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "CH3 Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{ \"id\":\"002\",\"ch3\":\"off\"   }",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 580,
        "y": 1500,
        "wires": [
            [
                "5a05a4b8ba41875e"
            ]
        ]
    },
    {
        "id": "4d6a339e0313ae9b",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "",
        "group": "b59e207189ceee8f",
        "order": 16,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "CH4 On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{ \"id\":\"002\",\"ch4\":\"on\"   }",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 580,
        "y": 1540,
        "wires": [
            [
                "5a05a4b8ba41875e"
            ]
        ]
    },
    {
        "id": "3d1a768b03b64843",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "",
        "group": "b59e207189ceee8f",
        "order": 17,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "CH4 Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{ \"id\":\"002\",\"ch4\":\"off\"   }",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 580,
        "y": 1580,
        "wires": [
            [
                "5a05a4b8ba41875e"
            ]
        ]
    },
    {
        "id": "2d20456ca42c3ddc",
        "type": "mqtt in",
        "z": "04b4f13d99be7319",
        "name": "",
        "topic": "smartfarm/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f21c4075976f759e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1660,
        "wires": [
            [
                "50f648ad70dc45b0"
            ]
        ]
    },
    {
        "id": "14c6c41f05281583",
        "type": "mqtt out",
        "z": "04b4f13d99be7319",
        "name": "",
        "topic": "smartfarm/control",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f21c4075976f759e",
        "x": 990,
        "y": 2160,
        "wires": []
    },
    {
        "id": "8529ef97300f7cbf",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "ch2 on",
        "group": "056971eaeb83ff99",
        "order": 12,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Fan On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{ \"id\":\"003\",\"ch2\":\"on\"   }",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 2140,
        "wires": [
            [
                "14c6c41f05281583"
            ]
        ]
    },
    {
        "id": "5f2a5d482d731095",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "ch2 off",
        "group": "056971eaeb83ff99",
        "order": 13,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Fan Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{ \"id\":\"003\",\"ch2\":\"off\"   }",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 2180,
        "wires": [
            [
                "14c6c41f05281583"
            ]
        ]
    },
    {
        "id": "0e60d9fba46e9be0",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "ch3 on",
        "group": "056971eaeb83ff99",
        "order": 14,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "CH3 On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{ \"id\":\"003\",\"ch3\":\"on\"   }",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 2220,
        "wires": [
            [
                "14c6c41f05281583"
            ]
        ]
    },
    {
        "id": "4847e42132437b6a",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "ch3 off",
        "group": "056971eaeb83ff99",
        "order": 15,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "CH3 Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{ \"id\":\"003\",\"ch3\":\"off\"   }",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 2260,
        "wires": [
            [
                "14c6c41f05281583"
            ]
        ]
    },
    {
        "id": "894c18d5a279114e",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "ch4 on",
        "group": "056971eaeb83ff99",
        "order": 16,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "CH4 On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{ \"id\":\"003\",\"ch4\":\"on\"   }",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 2300,
        "wires": [
            [
                "14c6c41f05281583"
            ]
        ]
    },
    {
        "id": "8f171625135db7a3",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "ch4 off",
        "group": "056971eaeb83ff99",
        "order": 17,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "CH4 Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{ \"id\":\"003\",\"ch4\":\"off\"   }",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 2340,
        "wires": [
            [
                "14c6c41f05281583"
            ]
        ]
    },
    {
        "id": "ccb88f07aced2093",
        "type": "mqtt in",
        "z": "04b4f13d99be7319",
        "name": "",
        "topic": "smartfarm/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f21c4075976f759e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 2720,
        "wires": [
            [
                "4a61da611d8aad0c"
            ]
        ]
    },
    {
        "id": "4adb4a9413d76951",
        "type": "mqtt out",
        "z": "04b4f13d99be7319",
        "name": "",
        "topic": "smartfarm/control",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f21c4075976f759e",
        "x": 850,
        "y": 3140,
        "wires": []
    },
    {
        "id": "0f55bed700fcadac",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "ch2 on",
        "group": "6969e20e87727ae4",
        "order": 12,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Fan On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{ \"id\":\"004\",\"ch2\":\"on\"   }",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 3080,
        "wires": [
            [
                "4adb4a9413d76951"
            ]
        ]
    },
    {
        "id": "57973ead3adcc524",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "ch2 off",
        "group": "6969e20e87727ae4",
        "order": 13,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Fan Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{ \"id\":\"004\",\"ch2\":\"off\"   }",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 3120,
        "wires": [
            [
                "4adb4a9413d76951"
            ]
        ]
    },
    {
        "id": "8510e1bdeae3b911",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "ch3 on",
        "group": "6969e20e87727ae4",
        "order": 14,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "CH3 On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{ \"id\":\"004\",\"ch3\":\"on\"   }",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 3160,
        "wires": [
            [
                "4adb4a9413d76951"
            ]
        ]
    },
    {
        "id": "5bcd7ca6fb12b3a6",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "ch3 off",
        "group": "6969e20e87727ae4",
        "order": 15,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "CH3 Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{ \"id\":\"004\",\"ch3\":\"off\"   }",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 3200,
        "wires": [
            [
                "4adb4a9413d76951"
            ]
        ]
    },
    {
        "id": "afbc9bd0724a6735",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "ch4 on",
        "group": "6969e20e87727ae4",
        "order": 16,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "CH4 On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{ \"id\":\"004\",\"ch4\":\"on\"   }",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 3240,
        "wires": [
            [
                "4adb4a9413d76951"
            ]
        ]
    },
    {
        "id": "be8a76492294e2ca",
        "type": "ui_button",
        "z": "04b4f13d99be7319",
        "name": "ch4 off",
        "group": "6969e20e87727ae4",
        "order": 17,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "CH4 Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{ \"id\":\"004\",\"ch4\":\"off\"   }",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 3280,
        "wires": [
            [
                "4adb4a9413d76951"
            ]
        ]
    },
    {
        "id": "d95da6992d5216d4",
        "type": "ui_text",
        "z": "04b4f13d99be7319",
        "group": "6ac281cd65617581",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last update",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 810,
        "y": 40,
        "wires": []
    },
    {
        "id": "7e0c27b512c5fc83",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "LastUpdate",
        "func": "var q = msg.payload\n\n    if (q.timestamp !=null) {\n        msg.payload = q.timestamp\n        return msg;\n    }\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 40,
        "wires": [
            [
                "d95da6992d5216d4"
            ]
        ]
    },
    {
        "id": "83fc7bfae8985ccf",
        "type": "ui_text",
        "z": "04b4f13d99be7319",
        "group": "b59e207189ceee8f",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last update",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 790,
        "y": 860,
        "wires": []
    },
    {
        "id": "52d8f612df9d130b",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "LastUpdate",
        "func": "var q = msg.payload\n\n    if (q.timestamp !=null) {\n        msg.payload = q.timestamp\n        return msg;\n    }\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 860,
        "wires": [
            [
                "83fc7bfae8985ccf"
            ]
        ]
    },
    {
        "id": "f8b2806793ca13c1",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "ID002",
        "func": "var payloaded=msg.payload\n\nif (payloaded.id==\"002\") {\n    msg.payload=payloaded\nreturn msg}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 940,
        "wires": [
            [
                "52d8f612df9d130b",
                "fab20c29aefffe5d",
                "4ce92be6e3b0f87e",
                "60195fa791059085",
                "1fc8bc0a9e2e646b",
                "e58a7958807a87ff",
                "8259388bf3ee442b",
                "10a7952f1cf98a86",
                "17eaa1c50bbd40fb",
                "99f02e3230cfa766",
                "f2b9a71c9153fde9"
            ]
        ]
    },
    {
        "id": "663f73227d52be4a",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "ID004",
        "func": "var payloaded=msg.payload\nif (payloaded.id==\"004\") {\n    msg.payload=payloaded\nreturn msg}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2720,
        "wires": [
            [
                "ee5d1e718ab7b66f",
                "294484f5173d890f",
                "f6ca32b2a926d7e2",
                "b0b8d22fdff44891",
                "e227f4b22898641b",
                "0e201fbda2912565",
                "38d9e4687a17b521",
                "bb031c2070e88109",
                "30da9a41a4640b30",
                "1722d49dd48dcb3a",
                "d6df4708bf96c846"
            ]
        ]
    },
    {
        "id": "7cf4775fd2e00e83",
        "type": "ui_text",
        "z": "04b4f13d99be7319",
        "group": "056971eaeb83ff99",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last update",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 1620,
        "wires": []
    },
    {
        "id": "3fb870fcd35a34fa",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "LastUpdate",
        "func": "var q = msg.payload\n\n    if (q.timestamp !=null) {\n        msg.payload = q.timestamp\n        return msg;\n    }\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 1620,
        "wires": [
            [
                "7cf4775fd2e00e83"
            ]
        ]
    },
    {
        "id": "d6df4708bf96c846",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "LastUpdate",
        "func": "var q = msg.payload\n\n    if (q.timestamp !=null) {\n        msg.payload = q.timestamp\n        return msg;\n    }\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 2540,
        "wires": [
            [
                "95da5f5458b865e7"
            ]
        ]
    },
    {
        "id": "95da5f5458b865e7",
        "type": "ui_text",
        "z": "04b4f13d99be7319",
        "group": "6969e20e87727ae4",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last update",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 790,
        "y": 2540,
        "wires": []
    },
    {
        "id": "af743608b5f34902",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": " manual mode warning",
        "func": "if (msg.payload==false) {\n    msg.payload=true;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 480,
        "wires": [
            [
                "82e7749e0145f30c"
            ]
        ]
    },
    {
        "id": "4fc775196be91cb1",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": " manual mode warning",
        "func": "if (msg.payload==false) {\n    msg.payload=true;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 1360,
        "wires": [
            [
                "264b756f432f2c3b"
            ]
        ]
    },
    {
        "id": "dc89d6d05d4be5b2",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": " manual mode warning",
        "func": "if (msg.payload==false) {\n    msg.payload=true;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 2000,
        "wires": [
            [
                "ada5da7b6c203bcc"
            ]
        ]
    },
    {
        "id": "66bddf6a04bf83e3",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": " manual mode warning",
        "func": "if (msg.payload==false) {\n    msg.payload=true;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 3000,
        "wires": [
            [
                "35266b5cb6f4027f"
            ]
        ]
    },
    {
        "id": "953c04bd58e5f95f",
        "type": "inject",
        "z": "04b4f13d99be7319",
        "name": "at 7:00",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 07 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 900,
        "y": 580,
        "wires": [
            [
                "060ea4d2860e901e"
            ]
        ]
    },
    {
        "id": "ccdf18498f2bcefb",
        "type": "inject",
        "z": "04b4f13d99be7319",
        "name": "at 7:30",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "30 07 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 900,
        "y": 700,
        "wires": [
            [
                "480e8c9e0bc30bda"
            ]
        ]
    },
    {
        "id": "3c359c0ff4418392",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "ch3 on",
        "func": "var data = msg.payload\nvar mode = global.get('mode001')\n\nif (mode == true) {\n    msg.payload = Object.assign(msg.payload, { \"ch3\": \"on\" });\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 600,
        "wires": [
            [
                "0be28fb0cfc26f5c"
            ]
        ]
    },
    {
        "id": "060ea4d2860e901e",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "id001",
        "func": "msg.payload={\"id\":\"001\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 600,
        "wires": [
            [
                "3c359c0ff4418392"
            ]
        ]
    },
    {
        "id": "c8595ec6248878e6",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "ch3 off",
        "func": "var data = msg.payload\nvar mode = global.get('mode001')\nif (mode == true) {\n    msg.payload = Object.assign(msg.payload, { \"ch3\": \"off\" } );\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 700,
        "wires": [
            [
                "0be28fb0cfc26f5c"
            ]
        ]
    },
    {
        "id": "480e8c9e0bc30bda",
        "type": "function",
        "z": "04b4f13d99be7319",
        "name": "id001",
        "func": "msg.payload={\"id\":\"001\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 700,
        "wires": [
            [
                "c8595ec6248878e6"
            ]
        ]
    },
    {
        "id": "f6c8e7d884750649",
        "type": "inject",
        "z": "04b4f13d99be7319",
        "name": "at 17:00",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 17 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 900,
        "y": 620,
        "wires": [
            [
                "060ea4d2860e901e"
            ]
        ]
    },
    {
        "id": "0ed68b54fa0c1054",
        "type": "inject",
        "z": "04b4f13d99be7319",
        "name": "at 17:30",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "30 17 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 900,
        "y": 740,
        "wires": [
            [
                "480e8c9e0bc30bda"
            ]
        ]
    }
]